/* You can add global styles to this file, and also import other style files */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

canvas {
  touch-action: none;
}
